.fadeInSection {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition:
    opacity 0.6s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;

  &__isVisible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
