@import "../../styles/vars";

.container {
  position: sticky;
  float: right;
  z-index: 50;
  bottom: 175px;
  width: 80px;
  button {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: $accent-orange-color;
    background-color: $primary-white-color;
    box-shadow: 0px 4px 4px $shadow-btn;
  }
  button:hover,
  :focus,
  :active {
    .arrow {
      color: $primary-white-color;
    }
    background-color: $accent-orange-color;
    transition: $transition-duration;
  }
  .arrow {
    display: flex;
    color: $accent-orange-color;
  }
  @media (min-width: $desktop) {
    button {
      height: 75px;
      width: 75px;
    }
  }
}
