@import "../../styles/vars";

.button {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 288px;
  overflow: hidden;
  font-size: 18px;
  font-weight: $bold;
  background-color: $accent-orange-color;
  color: $secondary-white-color;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  transition-property: color, background-color;
  transition: color, background-color $transition-duration;

  &:hover,
  &:active,
  &:focus {
    background-color: $dark-orange-color;
  }

  &:disabled {
    background-color: $grey-color;
    color: $dark-grey-color;
    border: 2px solid $dark-grey-color;
  }

  @media (min-width: $tablet) {
    height: 52px;
    width: 236px;
  }
}

.buttonContent {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 0 8px;
  height: 100%;
}
