@import "../../../styles/vars";

.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    width: 332px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
    width: 359px;
  }
}

.image {
  border-radius: 10px;
}
.desc {
  font-weight: $medium;
  font-size: 16px;
  line-height: $secondary-line-height;
  padding: 24px 0 0;

  @media (min-width: $tablet) {
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }
}
