@import "../../styles/vars";

.runningBlock {
  display: flex;
  gap: 56px;
  text-align: center;
  width: 101%;
  padding: 12px 28px;
  background-color: $primary-black-color;
  white-space: nowrap;
  @media (min-width: $tablet) {
    padding: 24px 28px;
  }
  @media (min-width: $desktop) {
    padding: 36px 28px;
  }
}

.runningText {
  font-family: $font-roboto-slab;
  color: $primary-white-color;
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  @media (min-width: $tablet) {
    font-size: 24px;
    font-weight: 800;
  }
  @media (min-width: $desktop) {
    font-size: 32px;
  }

  &::before {
    content: "";
    top: 6px;
    left: -30px;
    position: absolute;
    width: 4px;
    height: 38px;
    background-color: $primary-white-color;
    display: inline-block;
    @media (min-width: $tablet) {
      top: 3px;
      height: 46px;
      width: 5px;
    }
  }
}
