@import "../../styles/vars";
@import "../../styles/animations";

.hero {
  background-image: url("../../images/hero/hero-bg.jpg");
  background-color: $grey-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59%;
  margin: 0 auto;
}

.heroCover {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 18px 0 24px;
  row-gap: 39px;

  @media (min-width: $tablet) {
    max-width: 486px;
    padding: 60px 0 40px;
    row-gap: 34px;
  }

  @media (min-width: $desktop) {
    row-gap: 60px;
    padding: 215px 0 105px;
  }
}

.heroTitle {
  color: $primary-white-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: $font-roboto-slab;
  font-size: 24px;
  font-weight: $bold;
  line-height: 40px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    margin-bottom: 28px;
    font-size: 40px;
  }

  @media (min-width: $desktop) {
    font-size: 64px;
  }
}

.heroLabel {
  display: inline-block;
  color: $primary-white-color;
  font-family: $font-roboto-slab;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.heroText {
  color: $primary-white-color;
  font-size: 16px;
  font-weight: $medium;
  line-height: 24px;
  margin-bottom: 0px;
  column-gap: 20px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }

  span:first-child {
    display: flex;
    column-gap: 10px;
    align-items: center;
    @media (min-width: $tablet) {
      column-gap: 34px;
    }
  }

  span:last-child {
    color: $accent-orange-color;
    font-family: $font-roboto-slab;
    font-size: 16px;
    font-weight: $regular;
    line-height: 50px;
    animation-name: changeFontSize;
    animation-duration: 3500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    @media (min-width: $tablet) {
      animation-name: changeFontSizeTablet;
    }

  }
}

.heroText:first-of-type {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    width: 520px;
    align-items: flex-end;
    column-gap: 34px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.heroArrow {
  display: block;

  @media (min-width: $tablet) {
    height: 100%;
    width: 31px;
  }
}

.heroButtonCover {
  width: 100%;

  @media (min-width: $tablet) {
    width: 236px;
  }
}

