@import "../../styles/vars";



.hero {
    background-image: url("../../images/hero/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 59%;
    max-width: $mobile;
    margin: 0px auto 0px;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        max-width: none;
    }

    @media screen and (min-width: 1680px) {
        max-width: 1680px;
    }

    &__cover {
        display: flex;
        flex-direction: column;
        margin-top: 44px;
        padding-bottom: 36px;

        @media screen and (min-width: $tablet) {
            max-width: 486px;
            margin-top: 60px;
            padding-bottom: 60px;
        }

        @media screen and (min-width: $desktop) {
            row-gap: 60px;
            margin-top: 218px;
            padding-bottom: 105px;
        }
    }

    &__title {
        color: var(--White, #F8F7F7);
        font-family: 'Dela Gothic One', sans-serif;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.35px;
        font-weight: 400;
        letter-spacing: 0.35px;
        margin-bottom: 6px;
        line-height: 28px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media screen and (min-width: $tablet) {
            margin-bottom: 28px;
            font-size: 40px;
            line-height: 40px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 48px;
            line-height: 40px;
            margin-bottom: 28px;
        }
    }

    &__arrow {
        display: block;
        height: 100%;
        width: 24px;

        @media screen and (min-width: $tablet) {
            width: 31px;
        }
    }

    &__label {
        display: inline-block;
        color: var(--White, #F8F7F7);
        font-family: 'Dela Gothic One', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.35px;
        margin-bottom: 6px;

        @media screen and (min-width: $tablet) {
            color: var(--White, #F8F7F7);
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 14px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 24px;
            margin-bottom: 28px;
        }
    }

    &__text {
        color: var(--White, #F8F7F7);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.35px;
        margin-bottom: 6px;

        @media screen and (min-width: $tablet) {
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 14px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 20px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }

        &:first-of-type {
            display: flex;
            align-items: center;
            column-gap: 20px;
            margin-bottom: 28px;

            @media screen and (min-width: $tablet) {
                align-items: flex-end;
                column-gap: 34px;
            }

            span:first-child {
                display: flex;
                column-gap: 20px;

                @media screen and (min-width: $tablet) {
                    column-gap: 34px;
                }
            }

            span:last-child {
                color: $accent-orange-color;
                font-family: 'Dela Gothic One', sans-serif;
                font-size: 16px;
                font-weight: $large;
                line-height: 50px;
                letter-spacing: 0.35px;

                @media screen and (min-width: $tablet) {
                    font-size: 36px;
                }

            }

            @media screen and (max-width: $tablet) {
                margin-bottom: 14px;
            }
        }
    }

    &__buttonCover {}

}