@import "../../styles/vars";

.about {
  padding: 40px 0 40px;

  @media (min-width: $tablet) {
    padding: 80px 0 80px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0 100px;
  }
}
.aboutTitle {
  font-family: $font-roboto-slab;
  font-size: 16px;
  font-weight: $bold;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-align: center;
  margin: 0 0 24px 0;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 32px 0;
  }

  @media (min-width: $desktop) {
    font-size: 36px;
    margin: 0 0 60px 0;
  }
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  font-weight: $medium;
  line-height: 24px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    gap: 20px;
    font-size: 20px;
    width: 551px;
  }
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 19px;
    margin-bottom: 60px;
  }
}

img {
  width: 287px;
  margin: 0 auto;
  border-radius: 10px;

  @media (min-width: $tablet) {
    width: 688px;
  }

  @media (min-width: $desktop) {
    width: 550px;
  }
}

.button {
  margin: 0 auto;
  width: 288px;

  @media (min-width: $tablet) {
    width: 236px;
  }

  @media (min-width: $desktop) {
  }
}
