@import "../../styles/vars";

.container {
  max-width: $mobile;
  margin: 0px auto 0px;

  @media screen and (min-width: 420px) {
    max-width: none;
    width: $mobile-wide;
  }

  @media screen and (min-width: 768px) {
    width: $tablet;
    padding: 0px 80px 0px;
  }

  @media screen and (min-width: 1024px) {
    width: $desktop;
  }

  @media screen and (min-width: 1680px) {
    width: $desktop-wide;
  }

  border: 2px red solid;
}
