@import "../../../index.scss";

.logo {
	margin-right: auto;
	color: $primary-white-color;
	font-family: "Dela Gothic One", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition-property: color;
	transition: color $transition-duration;

	&:hover,
	&:focus {
		color: $accent-orange-color;
	}

	@media screen and (min-width: $tablet) {
		font-size: 18px;
	}
}

.logo1 {
	display: block;
	margin-bottom: -9px;

	@media screen and (min-width: $tablet) {
		margin-bottom: -11px;
	}
}

.spanWrapper {
	display: flex;
	align-items: center;
}

.spanLeft {
	margin-right: -0.5px;
}
