@import "../../../styles/vars";

.logo {
	padding-top: 10px;
	margin-right: auto;
	color: $primary-white-color;
	font-family: "Dela Gothic One", sans-serif;
	font-size: 20px;
	line-height: 1px;
	letter-spacing: 0.35px;
	text-transform: uppercase;
	transition-property: color;
	transition: color $transition-duration;

	&:hover,
	&:focus {
		color: $accent-orange-color;
	}

	@media screen and (min-width: $tablet) {
		font-size: 22px;
	}
}

.logo1 {
	display: block;
	margin-bottom: 11px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 16px;
	}
}

.spanWrapper {
	display: flex;
	align-items: center;
}
