@import "../../../../styles/vars";

.logoSvg,
.logoSvgMobile {
  .path {
    fill: currentColor;
  }
}

.logoSvg {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.logoSvgMobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
