@import "../../../styles/vars";


.popupContent {
  overflow-y: auto;
  background-color: $primary-white-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: $medium;
  line-height: 28px;
  padding-bottom: 40px;
}
.popupTitle {
  font-family: $font-roboto-slab;
  font-size: 1.5rem;
  font-weight: $regular;
  line-height: $primary-line-height;
  padding: 0 10px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 16px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -15px;
    left: 0;
    background-color: $primary-grey-color;
  }
}

.popupText {
  max-width: 265px;
  font-weight: $medium;
  line-height: $primary-line-height;
}

.popupSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 360px) {
    gap: 32px;
  }
}

.popupSocialLink {
  transition: $transition-duration;
  img {
    height: 56px;
    width: 56px;
  }

  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}

.popupCopy {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.popupCopied {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.popupCopyText {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  gap: 4px;
  transition: $transition-duration;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $primary-black-color;
    display: block;
    position: absolute;
    bottom: -4px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
}
