@import "../../styles/vars";

.header {
  background-color: $primary-black-color;


	@media screen and (min-width: $mobile) and (max-width: 767.98px) {
		padding: 16px 0;
	}

	@media screen and (min-width: $tablet) and (max-width: 1279.98px) {
		padding: 8px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 8px 0 16px 0;
	}
}

.containerHeader {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  .item + .item {
    margin-left: 36px;
  }
}

.link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $primary-white-color;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  transition-property: color;
  transition: color $transition-duration;
}

.link:hover,
.link:focus {
  color: $accent-orange-color;
}

.burgerMenuOpen {

	font-size: 24px;
	padding: 8px 0;
	line-height: 0;
	border: none;
	color: $primary-white-color;
	background-color: transparent;
	transition-property: color;
	transition: color $transition-duration;

	&:hover,
	&:focus {
		color: $accent-orange-color;
	}

	@media screen and (min-width: $tablet) {
		font-size: 32px;
		margin-left: 60px;
	}


  @media screen and (min-width: $tablet) {
    margin-left: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
