.popupContent {
    width: 100%;
    padding: 136px 0;
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.54) 0%, rgba(245, 245, 245, 0.54) 100%), url('../../../images/hero/hero-bg.jpg') center/cover no-repeat;
}
.popupText {
    font-family: Roboto Slab;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    text-align: center;
    background: rgba(255, 255, 255, 0.70);
    padding: 74px 0;
    position: relative;
}