@import "../../../styles/vars";

.langWrapper {
  position: relative;
  font-family: $font-roboto-slab;
  font-weight: $bold;
  text-transform: uppercase;
  cursor: pointer;

  margin-left: 0;

  @media screen and (min-width: $desktop) {
    margin-left: 36px;
  }
}

.selectedLanguage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  color: $primary-white-color;

  transition-property: color;
  transition: color $transition-duration;

  &:hover,
  &:focus {
    color: $accent-orange-color;
  }

  @media screen and (min-width: $desktop) {
    padding: 10px;
  }
}

.currentLang {
  font-family: $font-roboto-slab;
  font-weight: $bold;
  text-transform: uppercase;
  margin-right: 12px;

  @media screen and (min-width: $tablet) {
    margin-right: 26px;
  }
}

.imgThumb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  padding: 6px;

  @media screen and (min-width: $tablet) {
    padding: 10px;
    font-size: 28px;
  }
}

.imgThumbRotate {
  transform: rotate(180deg);
}

.changeLangWrapper {
  position: absolute;
  background-color: $primary-black-color;
  width: 100%;
}

.changLang {
  display: block;
  color: $primary-white-color;
  padding: 4px 12px;
  transition-property: color;
  transition: color $transition-duration;

  @media screen and (min-width: $desktop) {
    padding: 10px;
  }
}

.changLang:hover,
.changLang:focus {
  color: $accent-orange-color;
}

.currentLang,
.changLang {
  font-size: 16px;
  line-height: $quadruple-line-height;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: $triple-line-height;
  }
}
