@import "../../styles/vars";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 16px;
  background-color: rgba(51, 51, 51, 0.8);
  color: $primary-black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto;
}

.popupBody {
  position: relative;
  width: 524px;
}

.popupBodyWide {
  width: 786px;
}

.popupClose {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
}
