@import "../../styles/vars";

.wrapper {
  .title {
    font-family: Dela Gothic One;
    font-size: 16px;
    font-weight: $regular;
    line-height: 28px;
    letter-spacing: 0.35px;
    color: $primary-black-color;
    text-align: center;

    @media (min-width: $mobile) {
      font-size: 24px;
      padding-top: 40px;
    }

    @media (min-width: $tablet) {
      font-size: 24px;
      padding: 32px 0;
    }

    @media (min-width: $desktop) {
      font-size: 36px;
      font-weight: $regular;
      padding: 60px 0;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    align-items: stretch;
    width: 100%;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
