@import "../../styles/vars";

.wrapper {
  width: 100%;

  @media (min-width: 320px) {
    padding: 24px 16px;
  }

  .title {
    font-size: 16px;
    font-style: normal;
    font-weight: $bold;
    line-height: 28px;
    letter-spacing: 1.38;
    color: $primary-black-color;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    width: 100%;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    // @media (min-width: $desktop) {
    //   flex-direction: row;
    // }
  }
}
