@import "../../styles/vars";
@import "../../styles/animations";

.wrapper {
  padding: 40px 0 0;
  @media (min-width: $tablet) {
    padding: 80px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0 0;
  }
}

.title {
  text-align: center;
  font-family: $font-roboto-slab;
  font-weight: $regular;

  @media (min-width: $tablet) {
    font-size: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 36px;
  }
}
.imgcontainer {
  display: flex;
  margin: 0 auto;
  @media (min-width: $tablet) {
    width: 460px;
  }
  @media (min-width: $desktop) {
    width: 862px;
    margin-left: 110px;
  }
}
.heart {
  animation: heartBeat 1500ms infinite;
  @media (min-width: $mobile) {
    width: 36px;
    margin-bottom: -10px;
  }
  @media (min-width: $tablet) {
    height: 50px;
    width: 90px;
    margin-bottom: 0px;
    padding-left: -15px;
  }
  @media (min-width: $desktop) {
    height: 65px;
    width: 90px;
    margin-bottom: 0;
  }
}
.img {
  margin-bottom: 5px;
  margin: 0;
  .imges {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  img {
    position: relative;
    @media (min-width: $mobile) {
      height: 45px;
      width: 46px;
      margin-bottom: 0px;
    }
    @media (min-width: $tablet) {
      height: 50px;
      width: 90px;
      margin-bottom: 0px;
    }
    @media (min-width: $desktop) {
      height: 65px;
      width: 96px;
      margin-bottom: 0;
    }
  }
}
.bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: $grey-color;
}
.fill {
  position: relative;
  overflow: hidden;
  height: 45px;
  border-radius: 8px;
  background-color: $accent-orange-color;
}
.text {
  display: flex;
  justify-content: space-between;
  .second {
    text-align: right;
  }
}
.text h3 {
  @media (min-width: $mobile) {
    font-size: 12px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
  }
  font-weight: 600;
}
.text h4 {
  @media (min-width: $mobile) {
    font-size: 14px;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
  }
  font-style: normal;
  font-weight: 700;
  color: $accent-orange-color;
}
.container {
  .first1 {
    display: none;
  }
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    .first1 {
      display: block;
    }
    .first2 {
      display: none;
    }
    .bar {
      width: 64%;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  @media (min-width: $desktop) {
    .bar {
      width: 74%;
      height: 45px;
    }
  }
}
